%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  
  = r.attribute :id
  
  = r.attribute :key
  
  = r.attribute :title
  
  = r.attribute :published
    
  = r.attribute :show_in_menu
  
  - if resource.show_in_menu?
    = r.attribute :menu_title
    = r.attribute :menu_subtitle
    = r.attribute :menu_position
  
  = r.attribute :content do
    = admin_content resource
  