- has_jammit_js :ck_editor, :convertable_editor, :ted_video_editor

= form.inputs :name => "General Details" do
  = form.input :name
  - unless form.object.new_record?
    = form.input :state_event, :collection => form.object.state_events_for_select
  = form.input :starts_at, :use_short_month => true, :start_year => Time.now.year, :end_year => (Time.now.year + 2)
  = form.input :ends_at,   :use_short_month => true, :start_year => Time.now.year, :end_year => (Time.now.year + 2)
  
= form.inputs :name => "Event Description", :class => "inputs convertable" do
  = form.input :description_format, :as => :select, :collection => AlmostHappy::Convertor.for_select, :include_blank => false
  ~ form.input :description, content_options(form, :description, :input_html => {:rows => 10})
  
= form.inputs :name => "Event Notes", :class => "inputs convertable" do
  = form.input :notes_format, :as => :select, :collection => AlmostHappy::Convertor.for_select, :include_blank => false
  ~ form.input :notes, content_options(form, :notes, :input_html => {:rows => 10})
  
%h3 Associated Videos

%p.actions= link_to 'Add another video', '#', :class => 'add-video-link'
- form.object.ted_videos.build
= form.fields_for :ted_videos do |tvf|
  = partial :video_form, tvf
  
- content_for :extra_head do
  :javascript
    TEDxPerth.Admin.TEDVideoEditor.template = #{render_ted_video_editor(form).to_str.to_json};