%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  
  = r.attribute :name
  
  = r.association :venue do
    = link_to resource.venue.to_s, [:admin, resource.venue]
  
  = r.attribute :state do
    = resource.human_state_name
  
  = r.attribute :starts_at do
    = l resource.starts_at, :format => :simple
  
  = r.attribute :ends_at do
    = l resource.ends_at, :format => :simple
  
  = r.attribute :description do
    = admin_content resource, :description
    
  = r.attribute :notes do
    = admin_content resource, :notes
    
  = r.association :ted_videos do
    - if resource.ted_videos.empty?
      %p.empty There are no videos yet.
    - else
      %ul
        - resource.ted_videos.each do |v|
          %li= link_to v.title, v.url
  
  = r.association :attendees do
    %p.attendee-count== #{pluralize resource.attending.size, 'person'} is / are planning to attend.
    - if resource.attending.size > 0
      %ul#attendees-list
        - resource.attending.each do |user|
          %li= link_to user.name, [:admin, user]