%ul
  = ml "Home", :root
  - if logged_in?
    = ml "Your Profile", users_path(:current)
    = ml "Sign Out", :sign_out
    - if current_user.admin?
      = ml 'Admin Area', :admin_root
  - else
    = ml "Sign Up", :new_user
    = ml "Sign In", :sign_in