%h2.title Viewing Post

= show_for resource do |r|
  
  = r.attribute :title
  
  = r.attribute :published
  
  = r.attribute :image do
    - if resource.image.present?
      = link_to "View Image", resource.image.url
  
  = r.attribute :summary do
    = admin_content resource, :summary
  
  = r.attribute :content do
    = admin_content resource