= form.inputs :name => "General Details" do  
  = form.input :login
  = form.input :email
  = form.input :display_name
  
= form.inputs :name => "Password Authentication" do
  = form.input :password
  = form.input :password_confirmation
  
= form.inputs :name => "Site-wide Roles" do
  = form.input :role_ids, :collection => Role.site_wide_for_select, :as => :select, :multiple => true