!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title== #{page_title} - TEDxPerth
    = include_stylesheets :base, :media => 'screen, projection'
    = include_javascripts :base
    = csrf_meta_tag
    - if Settings.twitter.user?
      = meta_tag "twitter-user", Settings.twitter.user.to_s
    = yield :extra_head
  %body
    = flash_messages :alert, :notice
    #container
      %header#page-header= partial 'shared/header'
      %section#content
        %section.inner-content{:class => main_content_class}= yield
        - if has_sidebar?
          %aside.inner-content.right= sidebar_content
        
      %footer#page-footer= partial 'shared/footer'
    = yield :page_bottom
    
    